@model SakilaProject1.Models.Inventory

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Inventory</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Film_id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Film_id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Store_id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Store_id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Last_update)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Last_update)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Inventory_id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
